

<link rel="stylesheet" href="~/css/CheckUsers.css" asp-append-version="true" />
<div>
<h1>Отслеживание</h1>
<table>
    <tr>
        <td>
            <div class="concent" id="skud-17"><div class="skud"></div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-18"><div class="skud"></div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-19"><div class="skud">19</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-20"><div class="skud">20</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-21"><div class="skud">21</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-22"><div class="skud">22</div></div>
            
        </td>
        <td class="ignore">
            <div class="concent" id="skud-22"><div class="skud">22</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-0"><div class="skud">0</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-1"><div class="skud">1</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-2"><div class="skud">2</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-3"><div class="skud">3</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-4"><div class="skud">4</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-5"><div class="skud">5</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-6"><div class="skud">6</div></div>
            
        </td>
    </tr>
    <tr>
        <td colspan="14"></td>
    </tr>
    <tr>
        <td>
            <div class="concent" id="skud->16"><div class="skud">16</div></div>
            
        </td>
        <td colspan="5">
            <div class="concent" id="skud-15"><div class="skud">15</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-14"><div class="skud">14</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-13"><div class="skud">13</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-12"><div class="skud">12</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-11"><div class="skud">11</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-10"><div class="skud">10</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-9"><div class="skud">9</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-8"><div class="skud">8</div></div>
            
        </td>
        <td>
            <div class="concent" id="skud-7"><div class="skud">7</div></div>
            
        </td>
    </tr>
</table>
</div>
<div>
    <h1>Подробная карта этажа</h1>
    <img src="/files/SKUD.png" />
</div>
<script src="~/js/CheckUsers.js" asp-append-version="true"></script>